// COLORS
$blue-900: #0b0d17;
$blue-300: #d0d6f9;
$white: #ffffff;

// TYPOGRAPHY
$font-serif: 'Bellefair', serif;
$font-sans-condensed: 'Barlow Condensed', sans-serif;
$font-sans: 'Barlow', sans-serif;

// TEXT PRESETS
$text-1: 144px normal 171.9% $font-serif;
$text-2: 100px normal 114.6% $font-serif;
$text-3: 56px normal 64.2% $font-serif;
$text-4: 32px normal 36.7% $font-serif;
$text-5: 28px normal 33.6% $font-sans-condensed;
$text-6: 28px normal 32.1% $font-serif;
$text-7: 14px normal 16.8% $font-sans-condensed;
$text-8: 16px normal 19.2% $font-sans-condensed;
$text-9: 18px normal 180% $font-sans;

// SPACING
$spacing-1600: 128px;
$spacing-1200: 96px;
$spacing-1000: 80px;
$spacing-800: 64px;
$spacing-600: 48px;
$spacing-500: 40px;
$spacing-400: 32px;
$spacing-300: 24px;
$spacing-200: 16px;
$spacing-150: 12px;
$spacing-100: 8px;
$spacing-50: 4px;
$spacing-25: 2px;